[submodule "vendor/node-mongodb-native"]
	path = vendor/node-mongodb-native
	url = http://github.com/christkv/node-mongodb-native.git
[submodule "vendor/connect"]
	path = vendor/connect
	url = http://github.com/senchalabs/connect.git
[submodule "vendor/express"]
	path = vendor/express
	url = http://github.com/visionmedia/express.git
